

header{
    width: 100%;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color:#333333 ;
    border-bottom: 1px solid #DC0404;
    box-shadow:inset 0px -6px 5px #E8E8E8;
}

header i{
    color: #333333;
}

header p{
    font-weight: 400;
}